<div class="containter d-md-flex flex-row justify-content-center wrapper page-content-one-background">
  <div class="container col-md-12 p-2 my-auto">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="profile-card row w-75">
          <div>
            <img src="assets/images/kb_img.png" atl="kb_img" class="profile-image" style="padding: 0px;">
          </div>
          <div class="text-center d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column text-left">
              <div class="p-2">
                <a href="/">
                  <i class="fas fa-globe"></i> VarKB.com
                </a>
              </div>
              <div class="p-2">
                <a href="/">
                  <i class="fab fa-facebook"></i> Krzysztof Buczynski
                </a>
              </div>
              <div class="p-2">
                <a href="/">
                  <i class="fab fa-twitter"></i> @NashPL
                </a>
              </div>
              <div class="p-2">
                <a href="/">
                  <i class="fab fa-instagram"></i> kbuczynski_nashpl
                </a>
              </div>
              <div class="p-2">
                <a href="/">
                  <i class="fab fa-linkedin"></i> Krzysztof Buczynski
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-center d-flex justify-content-center align-items-center  p-3">
              <div class="d-flex flex-column text-left">
                <div class="col-md-12 personal-info">
                  Hi! My name is Krzysztof Buczynski. I am a full stack developer. I graduated from Manchester Metropolitan University with
                  a 1st honours degree in Computer Science. I have over a few years of experience in a field. I have been
                  part of smaller and bigger project. I own a knowledge of HTML, CSS, JQuery, ES6, PHP, NodeJS, Angular/TypeScript,
                  Java, MySQL, Bootstrap, Unix OS and many more. Strong positive confident problem solver with leadership
                  skills.
                </div>
              </div>
            </div>
          </div>
          <div class="row col-md-12">
            <div class="container d-flex justify-content-center align-items-center p-3">
              <div class="personal-contact row">
                <div class="col-md-6">
                  <a href="" class="btn-contact btn btn-success btn-lg" type="button">Get My CV</a>
                </div>
                <div class="col-md-6">
                  <a href="" class="btn-contact btn btn-success btn-lg" type="button">Send me an Email</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
