.navbar.navbar-dark {
  min-height: 5rem;
}

.nav-item {
  min-width: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
  flex-flow: row nowrap;
  justify-content: flex-start !important;

  a {
    font-size: 0.9rem;
  }

  a:hover {
    color: $white;
  }

  .f-media-btn {
    color: $aqua !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem 0.2rem;
  }
}

.navbar-bottom {
  flex-flow: row nowrap;

  .navbar-nav {
    flex-direction: row;
  }
}
