<div id='index-3'
    class="container-fluid page-workexperience-background wrapper d-flex d-md-flex justify-content-center align-items-center">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let experience of experiences">
            <mat-expansion-panel-header>
                <mat-panel-title>{{experience.title}}</mat-panel-title>
                <mat-panel-description>{{experience.duration}}</mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col">
                    <h2>Position: </h2>
                </div>
                <div class="col">-
                    <h4>
                        {{experience.time}} - {{experience.position}}
                    </h4>
                </div>
            </div>
            <mat-divider class="mt-2 mb-3"></mat-divider>
            <div class="row">
                <div class="col">
                    <h2>Period: </h2>
                </div>
                <div class="col">
                    <h4>
                      {{experience.period}}
                    </h4>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>