$grid-breakpoint-xs: 350px;
$grid-breakpoint-sm: 375px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1440px;
$grid-breakpoint-xxxl: 2560px;

$white: #fff;
$black: #000;

$black-transparent: #ffffffe0;
$gray-transparent: #f8f9fa8a;

$blue-primary: #00438c;
$light-blue-primary: #3f9ba0;

$aqua: #00ffd1;