.f-media-btn {
  background-color: #ffffff00;
  color: #00ffd1;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 2px;
}

.navbar-bottom {
  flex-flow: row nowrap;
  justify-content: flex-start !important;

  .navbar-nav {
    flex-direction: row;
  }
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 10;
  color: white !important;
}

.page-header-background {
  background-image: url('../images/man.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.personal-text {
  font-family: 'Sen', sans-serif;
  color: black;
  text-shadow: none;
  font-size: 1.1rem;
  line-height: 1.2rem;

  h4 {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}

.hyperlinks {
  color: #00438c;
  text-shadow: none;
  font-size: 0.9rem;
  text-decoration: underline;

  a {
    color: #00438c;
  }
}

.personal-avatar {
  min-height: 12rem;
  max-height: 12rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .profile-image {
    display: none;
  }
  .page-content-one-background {
    max-width: 100%;
  }
  .card-body {
    padding: 0px !important;
  }
  .mobile-view {
    font-size: 11px;
    padding: 5% !important;
  }
}
