.f-media-btn {
  background-color: #fff;
  color: #909cbb;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 2px;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  margin-top: 7% !important;
}

.webkb_logo {
  height: auto;
  width: 10%;
  padding: 1%;
}

.webkb_nav {
  background-color: #e6e5e521;
  border-bottom: 1px solid #80808052;
}
