<div id='index-1'class="container-fluid page-header-background wrapper d-flex d-md-flex justify-content-center align-items-center">
  <mat-card class="card">
      <mat-card-content class="card-body">
        <div class="container mobile-view h-100">
          <div class="row align-items-center h-100">
            <div class="col-md-3 text-center d-none d-lg-block">
              <img src="assets/images/kb_img.png" atl="kb_img" class="personal-avatar">
            </div>
            <div class="col-md personal-text">
              <h4>Hi! My name is Krzysztof Buczynski.</h4>
              <p>
                I am a full stack developer with Computer Science degree. <br> In past I have took part in smaller and
                bigger programing project granding me few years of experience as a developer.
              </p>
              <p>
                I my main programming lanauge of choice is <strong>PHP</strong>.<br>I also have experience or basic
                skills
                in HTML, CSS, JQuery, ES6, NodeJS, Angular/TypeScript,
                Java, MySQL, Bootstrap, Unix OS and many more. Strong positive confident problem solver with leadership
                skills.
              </p>
            </div>
            <div class="col-md-3 hyperlinks flex-column flex-md-column text-left p-md-0">
              <div class="p-2">
                <a href="https://www.facebook.com/profile.php?id=100005542480415">
                  <i class="fab fa-facebook"></i> Krzysztof Buczynski
                </a>
              </div>
              <div class="p-2">
                <a href="https://twitter.com/NashPL">
                  <i class="fab fa-twitter"></i> @NashPL
                </a>
              </div>
              <div class="p-2">
                <a href="https://www.instagram.com/kbuczynski_nashpl/?hl=en">
                  <i class="fab fa-instagram"></i> kbuczynski_nashpl
                </a>
              </div>
              <div class="p-2">
                <a href="https://www.linkedin.com/in/krzysztof-buczynski-59008b152/">
                  <i class="fab fa-linkedin"></i> Krzysztof Buczynski
                </a>
              </div>
              <div class="p-2">
                <a href="https://github.com/kbuczynski-nashpl">
                  <i class="fab fa-github"></i> kbuczynski-nashpl
                </a>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
  </mat-card>
</div>