.page-header-background {
  background-image: url("/assets/images/man.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .page-project-background {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
