.page-project-background {
  background-image: url("/assets/images/brick.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .page-project-background {
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.d-grid {
  display: grid;
}

.mat-figure {
  align-items: left !important;
  justify-content: start !important;
}

mat-grid-list {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

::ng-deep .mat-figure {
  align-items: start !important;
  justify-content: start !important;
  padding: 2rem !important;
  color: black;
  width: 100%;
}

::ng-deep button.mat-primary {
  margin-right: 1rem;
  margin-left: 0;
  color: #00438c !important;
  min-width: 10srem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border: none;
}

::ng-deep button.mat-primary:hover {
  color: #3f9ba0 !important;
}

::ng-deep .mat-stroked-button:hover {
  background: white;
  border: none;
}

::ng-deep .mat-stroked-button[disabled][disabled] {
  background: unset;
  border: 0.05rem solid black;
  border-radius: 0;
  color: black;
  font-weight: 500;
  text-shadow: none;
  height: 2rem;
  margin-top: 0.5rem;
}

.card-content > .header-h1 {
  font-weight: bold;
  font-size: 1.8rem;
}

.card-content > .body {
  height: 4rem;
}

.card-content > .row > .footer > h5 {
  font-size: 1rem;
}
