.me-card {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 0;
  font-size: 1.4rem;
  line-height: 1.6rem;

  box-shadow: 2px 5px 9px 11px rgba(0, 0, 0, 0.67) !important;

  mat-card-content {
    display: flex !important;
  }

  .mat-card-image {
    margin: auto;
    width: calc(100% + 16px);
  }

  .hyperlinks {
    margin: auto;

    a {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1rem;
      color: #48e4ca;;
      font-weight: bold;
    }
  }
}
