<mat-card class="me-card container">
  <mat-card-content class="row">
    <div class="col-md">
      <img class="img-fluid" mat-card-image src="/assets/images/me.png" alt="Presonal Avatar">
    </div>
    <div class="col-6">
      <h4>Hi! My name is Krzysztof Buczynski.</h4>
      <p>
        I am a full stack engineer with Computer Science degree.<br/>
        In past I have taken part in smaller and bigger programming project granting me a few years of experience as a
        developer.
      </p>
      <p>
        I my main programming language of choice is <strong>PHP.</strong>
        <br/>
        I also have some experience in HTML, CSS, JQuery, ES6, NodeJS, Angular/TypeScript, Java, MySQL, Bootstrap, Unix
        OS and many more. I am a strong positive confident problem solver with leadership skills.
      </p>
    </div>
    <div class="col-3 hyperlinks">
      <div class="row">
        <a href="https://www.facebook.com/profile.php?id=100005542480415">
          <fa-icon [icon]="faFacebook"></fa-icon>
          Krzysztof Buczynski
        </a>
      </div>
      <div class="row">
        <a href="https://twitter.com/NashPL">
          <fa-icon [icon]="faTwitter"></fa-icon>
          @NashPL
        </a>
      </div>
      <div class="row">
        <a href="https://www.instagram.com/kbuczynski_nashpl/?hl=en">
          <fa-icon [icon]="faInstagram"></fa-icon>
          kbuczynski_nashpl
        </a>
      </div>
      <div class="row">
        <a href="https://www.linkedin.com/in/krzysztof-buczynski-59008b152/">
          <fa-icon [icon]="faLinkedIn"></fa-icon>
          Krzysztof Buczynski
        </a>
      </div>
      <div class="row">
        <a href="https://github.com/kbuczynski-nashpl">
          <fa-icon [icon]="faGithub"></fa-icon>
          kbuczynski-nashpl
        </a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
