<div class="container col-md fixed-top webkb_nav">
  <div class=" row ">
    <div class="col-md-9 float-left ">
      <img class="webkb_logo img-fluid " src=" assets/images/webkb_logo.png " alt="kb_img ">
    </div>
    <div class="col-md row float-right">
      <a class="col-md-2 f-media-btn " href="#" style="">
        <i class="fab fa-facebook-f fa-2x "></i>
      </a>
      <a class="col-md-2 f-media-btn" href="# ">
        <i class="fab fa-twitter fa-2x "></i>
      </a>
      <a class="col-md-2 f-media-btn " href="# ">
        <i class="fab fa-instagram fa-2x "></i>
      </a>
      <a class="col-md-2 f-media-btn " href="# ">
        <i class="fab fa-linkedin-in fa-2x "></i>
      </a>
    </div>
  </div>
</div>
