.navbar {
  background-color: transparent;
  justify-content: flex-end;


  .navbar-item {
    a {
      color: #48e4ca;
      font-size: 1.6rem;
      cursor: pointer;
      margin-left: 10px;
      margin-right: 10px;

      &:hover {
        color: white;
      }
    }
  }
}
