<div class="container col-md wrapper" style="background-color: blue;">
  <div class="row">
    <div class="col-md">
      <div class="col-md text-center float-center pt-5 mt-5">
        <h3>Life is full of suprices. Make most out of it.</h3>
      </div>
    </div>
    <div class="col-md">
      <div class="col-md">
        <img src="assets/images/kb_img.png" alt="kb_img" class="img-fluid img-thumbnail">
      </div>
      <div class="col-md">
        <h4>Krzysztof Buczynski</h4>
      </div>
    </div>
  </div>
</div>
